body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(36, 0, 34);
  background: linear-gradient(
    0deg,
    rgba(36, 0, 34, 1) 0%,
    rgba(53, 6, 83, 1) 35%,
    rgba(91, 2, 99, 1) 100%
  );
}
